body {
  background-color: #f8f9fa;
}

.navbar {
  background-color: #0046AD;
}

.navbar-brand, .nav-link {
  color: white !important;
}

.card-header {
  background-color: #0046AD;
  color: white;
}

.card {
  margin-bottom: 20px;
}

.custom-dropdown {
  position: relative;
  display: inline-block;
  width: 100%;
}

.custom-dropdown-select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  cursor: pointer;
  background-color: white;
}

.custom-dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  z-index: 1;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
}

.custom-dropdown-content div {
  padding: 10px;
  cursor: pointer;
}

.custom-dropdown-content div:hover {
  background-color: #f1f1f1;
}

.custom-dropdown-content .selected {
  background-color: #d1e7dd;
}
