body {
  background-color: #f8f9fa;
}

.navbar {
  background-color: #0046AD;
}

.navbar-brand, .nav-link {
  color: white !important;
}

.card-header {
  background-color: #0046AD;
  color: white;
}

.card {
  margin-bottom: 20px;
}

.custom-dropdown {
  position: relative;
  display: inline-block;
  width: 200px; /* Adjust width as needed */
}

.custom-dropdown-select {
  padding: 10px;
  background-color: #f1f1f1;
  cursor: pointer;
  border: 1px solid #ccc;
}

.custom-dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 100%;
  border: 1px solid #ccc;
  z-index: 1;
  max-height: 200px;
  overflow-y: auto;
}

.custom-dropdown-content div {
  padding: 10px;
  cursor: pointer;
}

.custom-dropdown-content div:hover {
  background-color: #f1f1f1;
}

.custom-dropdown-content.show {
  display: block;
}

.selected {
  background-color: #d1d1d1;
}
.chat-message {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
  max-width: 70%;
  clear: both;
}
.chat-message.bot {
  background-color: #e1f3fb;
  align-self: flex-start;
}
.chat-message.user {
  background-color: #d1e7dd;
  align-self: flex-end;
  text-align: right;
}
#chatContainer {
  display: flex;
  flex-direction: column;
}

.hidden {
  display: none;
}